@{
    ViewBag.Title = "Warehouse Centeno";
}

<br>
<h2 class="text-center">Warehouse Centeno .NET</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="card">
                <a href="@Url.Action("Index", "Bodegas")"> <img src="@Url.Content("~/Images/bodega.png")" class="card-img-top" alt="Imagen Bodega" /> </a>
                <div class="card-body">
                    @Html.ActionLink("Bodegas", "Index", "Bodegas", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card">
                <a href="@Url.Action("Index", "Productos")"> <img src="@Url.Content("~/Images/productos.jpg")" class="card-img-top" alt="Imagen Producto" /> </a>
                <div class="card-body">
                    @Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>