@model NET_Warehouse.Models.Producto

@{
    ViewBag.Title = "Delete";
}
<br />
<h3>Desea borrar el siguiente producto?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodega.NombreBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionProd)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Ir Atrás", "Index")
        </div>
    }
</div>
