@model IEnumerable<NET_Warehouse.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Productos</h2>
<h5>@Html.ActionLink("Añadir Producto", "Create")</h5>
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Bodega
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionProd)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bodega.NombreBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProd)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.ProductoID }, new { @class = "btn btn-info"}) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.ProductoID }, new { @class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>
