@model NET_Warehouse.Models.Bodega

@{
    ViewBag.Title = "Delete";
}
<br />
<h3>Desea borrar la siguiente Bodega?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisBodega)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Ir Atrás", "Index")
        </div>
    }
</div>
