@model NET_Warehouse.Models.Bodega

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bodega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisBodega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BodegaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
