@model IEnumerable<NET_Warehouse.Models.Bodega>

@{
    ViewBag.Title = "Bodegas";
}
<br />
<h2>Bodegas</h2>
<h5>@Html.ActionLink("Añadir Bodega", "Create")</h5>
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreBodega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisBodega)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreBodega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisBodega)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id=item.BodegaID }, new { @class = "btn btn-info"}) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.BodegaID }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
